/* Welcome to Susy. Use this file to write IE specific override styles. Import this file using the following HTML or equivalent: <!--[if IE]>   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> <![endif]--> */
/* @group defaults */
/* @group links */


/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 { font-family: Georgia,serif; }

h2.title { font-size: 2.5em; padding-bottom: 1em; }
h2.title a { color: #333; }
h2.title a:hover { background-color: #cf9; }

h3 { font-size: 2em; padding: 0.5em 0; }

h4 { font-size: 1.5em; padding: 0.5em 0; }

/* @end */
/* @group forms */







/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */







/* @end */
/* @group block tags */
p { padding-bottom: 0.5em; }

ol { list-style: decimal; margin: 0 1.5em 1.5em 1.5em; }

ul { list-style: disc; margin: 0 1.5em 1.5em 1.5em; }


/* @end */
/* @group inline tags */

em { font-style: italic; }

strong { font-weight: bold; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }


/* @end */
/* @group replaced tags */

/* @end */

/* @end */
