/* Welcome to Susy. Use this file to define print styles. Import this file using the following HTML or equivalent: <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* @group reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

/* @end */
/* @group defaults */
/* @group links */


/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 { font-family: Georgia,serif; }

h2.title { font-size: 2.5em; padding-bottom: 1em; }
h2.title a { color: #333; }
h2.title a:hover { background-color: #cf9; }

#older-posts h4 a { color: #333; }
#older-posts h4 a:hover { background-color: #cf9; }

h3 { font-size: 2em; padding: 0.5em 0; }

h4 { font-size: 1.5em; padding: 0.5em 0; }

/* @end */
/* @group forms */







/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */







/* @end */
/* @group block tags */
pre { margin: 20px 30px; padding: 15px 10px; line-height: 1.5em; overflow: auto; }

p { padding-bottom: 0.5em; }

ol { list-style: decimal; margin: 0 1.5em 1.5em 1.5em; }

ul { list-style: disc; margin: 0 1.5em 1.5em 1.5em; }


/* @end */
/* @group inline tags */

em { font-style: italic; }

strong { font-weight: bold; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }


/* @end */
/* @group replaced tags */

/* @end */

/* @end */
