/* Welcome to Susy. Use this file to define screen styles. Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */
/* @group reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

/* @end */
/* @group defaults */
/* @group links */


/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 { font-family: Georgia,serif; }

h2.title { font-size: 2.5em; padding-bottom: 1em; }
h2.title a { color: #333; }
h2.title a:hover { background-color: #cf9; }

h3 { font-size: 2em; padding: 0.5em 0; }

h4 { font-size: 1.5em; padding: 0.5em 0; }

/* @end */
/* @group forms */







/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */







/* @end */
/* @group block tags */
p { padding-bottom: 0.5em; }

ol { list-style: decimal; margin: 0 1.5em 1.5em 1.5em; }

ul { list-style: disc; margin: 0 1.5em 1.5em 1.5em; }


/* @end */
/* @group inline tags */

em { font-style: italic; }

strong { font-weight: bold; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }


/* @end */
/* @group replaced tags */

/* @end */

/* @end */
/* @group STRUCTURE */
/* @end */
/* @group COMPONENTS by type */
/* @end */
/* @group OVERRIDES by content */
/* @end */
/* @group OVERRIDES by page */
/* @end */
/* @group DEBUG */
/* uncomment, adjust and use for debugging    */
/* #page   +show-grid("grid.png") */
/* @end */
body { text-align: center; font-size: 87.5%; line-height: 150%; font-family: "lucida grande",verdana,sans-serif; }

#container { overflow: hidden; display: inline-block; text-align: left; margin-left: auto; margin-right: auto; width: 70em; max-width: 100%; }
#container { display: block; }

#header { clear: both; margin-right: 1.429%; margin-left: 1.429%; padding: 2em 0; background: transparent url(/images/header_shadow.gif) repeat-x scroll left bottom; }
#header a { font-size: 3.2em; color: #872633; text-decoration: none; font-family: georgia, serif; font-weight: bold; }

#main { padding-top: 2em; }

#menu { width: 17.143%; display: inline; float: left; margin-right: 2.857%; margin-right: 1.429%; /* ugly hacks for IE6-7 */ #margin-right: 0.429%; /* end ugly hacks */ }
#menu ul { margin-top: -1em; }
#menu ul li { list-style-type: none; margin-left: 0px; }
#menu ul li { border-bottom: 0.1em solid black; padding-top: 1em; }
#menu a { font-size: 1.5em; text-decoration: none; color: black; font-family: arial, serif; }
#menu a:hover { color: #fff; background-color: #000; }

#content { width: 77.143%; display: inline; float: left; margin-right: 2.857%; margin-left: 1.429%; }

#footer { clear: both; margin-right: 1.429%; margin-left: 1.429%; padding-left: 20%; }

#delicious { width: 17.143%; display: inline; float: left; margin-right: 2.857%; margin-left: 1.429%; }

#twitter { width: 17.143%; display: inline; float: left; margin-right: 2.857%; }

#github { width: 27.143%; display: inline; float: left; margin-right: 2.857%; margin-right: 1.429%; /* ugly hacks for IE6-7 */ #margin-right: 0.429%; /* end ugly hacks */ }

.date { zoom: 1; display: inline; display: -moz-inline-box; display: inline-block; vertical-align: top; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid black; }
.date .day { display: block; text-align: center; font-weight: bold; padding: 0 5px; }
.date .month { display: block; text-align: center; font-size: 1em; font-weight: bold; padding: 0 5px; background-color: #C52F24; color: white; }

h2.title { zoom: 1; display: inline; display: -moz-inline-box; display: inline-block; vertical-align: top; margin-top: 7px; }
