/* line 1, sass/style.sass */
#menu {
  float: left;
  width: 10em; }

/* line 4, sass/style.sass */
#content {
  margin-left: 11em; }

/* line 6, sass/style.sass */
.footer-block {
  float: left;
  width: 15em; }
