%p
  Hellow world!, soy Rubén Dávila Santos, un desarrollador web especializado en Ruby on Rails y todas las tecnologias de codigo abierto implicadas en el tema.

%p
  Estas son algunas de las herramientas y buzzwords que forman parte de mi día a día: vim, rails.vim, ruby, rails, bdd, shoulda, factory_girl, autotest, git, gitorious, ubuntu, firefox, firebug, haml, sass, compass, susy y ... no quiero seguir aburriendolos ;)

%p
  Actualmente me encuentro trabajando para #{link_to('E-Holding', 'http://e-holding.org/')} con un equipo humano excelente y disfrutando del desarrollo con Rails. Si deseas contactarme puedes enviarme un mensaje a:
  %strong rdavila84@gmail.com
